.skip-link {
  position: absolute;
  left: -9999px;
  top: 0;
}

.skip-link:focus {
  left: 1rem;
  top: 1rem;
  background: #000;
  color: #fff;
  padding: .5rem 1rem;
  z-index: 10000;
}

:focus-visible {
  outline: 2px solid #7cf;
  outline-offset: 2px;
}
